# Provider plugins and binaries
.terraform/

# State files - contain sensitive data!
terraform.tfstate
terraform.tfstate.backup

# Variable files that may contain secrets
*.tfvars

# Crash logs
crash.log